body {
	padding-top: 50px;
	color: #959595;
	font-size: 18px;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background-color: #1E90FF;
	color: #000080;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: #222;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.texto-box{
	margin-left: 81%;
	font-size: 93%;
	font-weight: bold;
}

.fig-user{
	width: 16px;
	height: 16px;
}

.espaco{
	height: 17px;
}

.logo-lncc{
	width: 288px;
	height: 111px;
}

.logo-eamc{
	width: 340px;
	height: 60px;
	margin-top: 10%;
}

.fig-lncc{
	width: 1353px;
	height: 500px;
}

.fig-apoio{
/*	width: 375px;*/
	height: 100px;
	padding-right: 50px;
}


.trs {-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;}
    	
#slider {position: relative; z-index: 1;}
#slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}
 
/*controladores*/
span {background: #0190EE; cursor: pointer; opacity: 0;filter:alpha(opacity=0); position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5;}
.next {right: 10px;}
.next:before,.next:after {left: 21px;}
.next:before {
    -webkit-transform: rotate(-42deg);
    top: 5px;
}
.next:after {
    -webkit-transform: rotate(-132deg);
    top: 19px;
}
.next:before,.next:after,.prev:before,.prev:after {content: "";
    height: 20px;
    background: #fff;
    width: 1px;
    position: absolute;
}
.prev {left: 10px;}
.prev:before,.prev:after {left: 18px;}
.prev:before {
    -webkit-transform: rotate(42deg);
    top: 5px;
}
.prev:after {
    -webkit-transform: rotate(132deg);
    top: 19px;
}
 
figure:hover span {opacity: 0.76;filter:alpha(opacity=76);}
    figure {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    /*margin: 50px auto;*/
}
 
figcaption {
	padding-left: 20px;
	padding-bottom: 370px;
	color: #fff;
	font-style: bold;
	font-family: "Kaushan Script","Lato","arial"; 
	font-size: 30px; 
	/*background: rgba(1, 144, 238, 0.76);*/
	width: 1353px; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	line-height: 55px; 
	height: 55px; 
	z-index: 5;
}

.datas{
	width: 100%;
	height: 500px;
}

.imgs-datas{
	width: 128px;
	height: 128px;
}

.box-localizacao {
	border: 2px solid gray;
    padding: 25px;
    width: 434px;	
}

.container2{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row2{margin-right:-15px;margin-left:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.new-col-sm-4{width:33.33333%; float: left; position:relative;min-height:1px; margin-left: 110px;}
.new-col-sm-4{width:33.33333%; float: left; position:relative;min-height:1px;}

.new-jumbotron{padding-top:30px;padding-bottom:30px;margin-bottom:30px;color:#000080;background-color:#1e90ff}.new-jumbotron .h1,.new-jumbotron h1{color:inherit}.new-jumbotron p{margin-bottom:15px;font-weight:200}.jumbotron>hr{border-top-color:#d5d5d5}.container .new-jumbotron,.container-fluid .new-jumbotron{border-radius:6px}.new-jumbotron .container{max-width:100%}@media screen and (min-width:768px){.new-jumbotron{padding-top:35px;padding-bottom:35px}.container .new-jumbotron,.container-fluid .new-jumbotron{padding-right:60px;padding-left:60px}.new-jumbotron .h1,.new-jumbotron h1{font-size:63px}}

.construcao{
	background-image: url("under_construction.png");
}

.box-hotel {
    border: 2px solid gray;
    display: inline-block;
    margin-bottom: 55px;
    margin-right: 80px;
    padding: 25px;
    width: 469px;	
}

.box-inscricao {
    background: #222222 none repeat scroll 0 0;
    border: 2px solid #222222;
    border-radius: 10px;
    color: white;
    display: inline-block;
    margin-bottom: 55px;
    margin-right: 80px;
    padding: 25px;
    width: 296px;	
}
